node_modules/
dist/
*.tsbuildinfo
coverage/
.DS_Store
target/
!packages/vm/wasm/*.wasm
!contracts/dist/*.wasm
compiler/build/
docs/book/

# Terminal Paste Image folder
.cp-images/
/benchmark-results
.railway-test/
/web
